/* -----------------------------------------------------------------------
 * Color
 * -------------------------------------------------------------------- */

// The berow colors are named by Name That Color that is VS code plugin.
// Name That Color is A VS Code Plugin to convert hex color representation into friendly names built upon Chirag Mehta's ntc.js.
// http://chir.ag/projects/name-that-color/

/* ------------------------------------
 * Palette
 * --------------------------------- */
// white
$white: #fff;

// gray
$mercury: #e6e6e6;

// red
$violet-red: #ef3675;

// blue
$picton-blue: #4cd4e9;
$picton-blue_02: #4c9fe9;
$bright-turquoise: #11ced2;

// pink
$magenta-fuchsia: #f0f;
$brilliant-rose: #ef36b2;

// green
$vida-loca: #53a318;
$mountain-meadow: #11d295;

// black
$black: #000;
$mine-shaft: #333;
$tuna: #343435;

/* ------------------------------------
 * Properties List
 * --------------------------------- */
$properties-list: (
  // text
  text-base: $mine-shaft,
  text-progress-bar: $vida-loca,

  // background
  bg-white: $white,
  bg-gray: $mercury,
  bg-disabled-gray: $mercury,
  bg-progress-bar-complete: $vida-loca,

  // border
  border-white: $white,
  border-emphasis-pink: $magenta-fuchsia,
  border-disabled-gray: $mercury,
  border-progress-bar-active: $vida-loca
);
