/* -----------------------------------------------------------------------
 * Color
 * -------------------------------------------------------------------- */

// The berow colors are named by Name That Color that is VS code plugin.
// Name That Color is A VS Code Plugin to convert hex color representation into friendly names built upon Chirag Mehta's ntc.js.
// http://chir.ag/projects/name-that-color/

/* ------------------------------------
 * Palette
 * --------------------------------- */
// white
$white: #fff;

// gray
$mercury: #e6e6e6;
$snuff: #e2deed;
$gallery: #eee;
$alabaster: #f8f8f8;

// red
$violet-red: #ef3675;

// blue
$picton-blue: #4cd4e9;
$picton-blue_02: #4c9fe9;
$bright-turquoise: #11ced2;
$sapphire: #3949ab;
$curious-blue: #1e9ada;

// pink
$magenta-fuchsia: #f0f;
$brilliant-rose: #ef36b2;

// green
$vida-loca: #53a318;
$mountain-meadow: #11d295;

// black
$black: #000;
$mine-shaft: #333;
$tuna: #343435;

/* ------------------------------------
 * Properties List
 * --------------------------------- */
$properties-list: (
  // text
  text-base: $mine-shaft,
  text-white: $white,

  // background
  bg-theme-white: $white,
  bg-theme-light: $alabaster,
  bg-theme-dark: $mine-shaft
);
