/* -----------------------------------------------------------------------
 * Color
 * -------------------------------------------------------------------- */

// The berow colors are named by Name That Color that is VS code plugin.
// Name That Color is A VS Code Plugin to convert hex color representation into friendly names built upon Chirag Mehta's ntc.js.
// http://chir.ag/projects/name-that-color/

/* ------------------------------------
 * Palette
 * --------------------------------- */
// white
$white: #fff;

// gray
$mercury: #e6e6e6;

// pink
$magenta-fuchsia: #f0f;

// green
$vida-loca: #53a318;

// black
$mine-shaft: #333;

/* ------------------------------------
 * Properties List
 * --------------------------------- */
$properties-list: (
  // text
  text-base: $mine-shaft,
  text-progress-bar: $vida-loca,

  // background
  bg-white: $white,
  bg-gray: $mercury,
  bg-disabled-gray: $mercury,
  bg-progress-bar-complete: $vida-loca,

  // border
  border-white: $white,
  border-emphasis-pink: $magenta-fuchsia,
  border-disabled-gray: $mercury,
  border-progress-bar-active: $vida-loca
);
