@use "./function" as function;

/* -----------------------------------------------------------------------
 * Variable
 * -------------------------------------------------------------------- */

/* ------------------------------------
 * Breakpoint
 * --------------------------------- */
$break-sp: 768px;
$break-tab: 1280px;

/* ------------------------------------
 * Font
 * --------------------------------- */
// font-family
$font-nunito-sans: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// font-weight
$font-weight-list: (
  nunito-sans-regular: 400,
  nunito-sans-bold: 700,
);

// font-size
$font-size-list: (
  pc-default: function.rem(16),
  sp-default: function.rem(14),
);

/* ------------------------------------
 * Contents
 * --------------------------------- */
